[user]
	email = fergus@molloy.xyz
  name = Fergus Molloy
[init]
  defaultBranch = main
[checkout]
  defaultRemote = origin
  guess = true
[branch]
  autoSetupRebase = always
[commit]
  gpgsign = false
[push]
	autoSetupRemote = true
